Source: test1
Section: unknown
Priority: optional
Maintainer: plugwash <plugwash@afpgtest>
Build-Depends: debhelper (>= 9), bash [amd64 i386], qtwebengine5-dev [amd64 arm64 armhf i386]
Standards-Version: 3.9.8

Package: test1
Architecture: all
Depends: ${misc:Depends}
Description: dummy package for autoforwardportergit testing.
